
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: 'Playwrite CU', sans-serif;
    background-color: #e6e6e6;
    
}

/* navigation */
#map { 
    margin: 10px;
    width: 50%;
    height: 500px;
    float: right;
    position: sticky;
    top: 20px;
}
nav{
    padding: .1rem;
    background-color: peachpuff;
    color: whitesmoke;
    border:none;
}

.barre{
    text-align: center;
    font-size: 25px;
    color: black;

}

h1{
    text-align:center;
    font-size: 3em;
    color :black
}

.maDiv{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(184, 184, 184);  
    border-radius: 5%; 
    background-color: whitesmoke;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 75%;
}
h2{
    text-align: center;
    font-size: 1.5em;
}


ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    background-color: #e6e6e6;
   
}


img{
    width: 100%;
    height:150px;
    border-radius: 5%;
    object-fit: cover; /*ajuste la taille si besoin*/
}

/*RESPONSIVE DESIGN*/
@media (max-width: 1072px) {
    ul {
        grid-template-columns: 1fr;
    }
    #map {
        display: none;
    }
}
